<h1>USER HOME PAGE!!!</h1>

<%= link_to "ADD A DAILY TIP", new_user_tip_path(current_user) %>
<%= link_to "ALL TIPS", user_tips_path(current_user) %>
<%= link_to "SOME STATS", landing_pages_stats_path %>
<%= link_to "MY WALLET", new_user_tip_path(current_user) %>